<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask_Chat_App</title>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/main.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
  <h1 style="text-align: center;">Weather Data:</h1>
  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="message_holder"></div>
  
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var messageNumber = 1

    function syntaxHighlight(json) {
    if (typeof json != 'string') {
        json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
      });
    }

    socket.on( 'new data', function( msg ) {
      console.log( msg )
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div style="margin-bottom:4vh"><b>Weather data number #' + messageNumber + ':</b><pre>'+ syntaxHighlight(msg)+'</pre></div>' )
        messageNumber++;
    })
    
  </script>

</body>
</html>